{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Administrateurs{% endblock %}
{% block administrateur %}active{% endblock %}
{% block gestion %}active{% endblock %}

{% block body %}

<form method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col-lg-6 col-ml-12">
			<div class="row">
				<div class="col-12 mt-5">
					{% if erreur == 1 %}
					<div class="alert alert-success" role="alert">
						<strong>Les modifications ont été effectués avec succès</strong>
					</div>
					{% endif %}
					<div class="card">
						<div class="card-body">
							<h4 class="header-title">informations personnelles </h4>
							<div class="form-group django">
								<label for="example-text-input" class="col-form-label">Nom</label>
								{{ form.Nom }}
								<small class="form-text text-muted">{{ form.Nom.errors }}</small>
								<label for="example-text-input" class="col-form-label">Prenom</label>
								{{ form.Prenom }}
								<small class="form-text text-muted">{{ form.Prenom.errors }}</small>
								<label for="example-text-input" class="col-form-label">Genre</label>
								{{ form.Genre }}
								<small class="form-text text-muted">{{ form.Genre.errors }}</small>
								<label for="example-text-input" class="col-form-label">Téléphone</label>
								{{ form.Tel }}
								<small class="form-text text-muted">{{ form.Tel.errors }}</small>
								<label for="example-text-input" class="col-form-label">Email</label>
								{{ form.Email }}
								<small class="form-text text-muted">{{ form.Email.errors }}</small>
							</div>
							<div class="letest-news mt-5">
								<div class="single-post mb-xs-40 mb-sm-40">
									<div class="lts-thumb">
										<img src="/media/{{ form.Photo.value }}" alt="post thumb">
									</div>
									<div class="lts-content">
										<label for="example-text-input" class="col-form-label">Changer la photo</label>
										<input type="file" class="form-control" name="{{ form.Photo.name }}">
										<small class="form-text text-muted">{{ form.Photo.errors }}</small>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-ml-12">
			<div class="row">
				<div class="col-12 mt-5">
					<div class="card">
						<div class="card-body">
							<h4 class="header-title">informations du compte </h4>
							<div class="form-group django">
								<label for="example-text-input" class="col-form-label">Nom d'utilisateur</label>
								{{ form.ID_Administrateur }}
								<small class="form-text text-muted">{{ form.ID_Administrateur.errors }}</small>
								<label for="example-text-input" class="col-form-label">Mot de passe</label>
								{{ form.Password }}
								<small class="form-text text-muted">{{ form.Password.errors }}</small>
								<label for="example-text-input" class="col-form-label">Dépot</label>
								{{ form.ID_Depot }}
								<small class="form-text text-muted">{{ form.ID_Depot.errors }}</small>
								<button type="submit" class="btn btn-flat btn-dark mt-4 pr-4 pl-4">Enregistrer</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}