{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Devis{% endblock %}
{% block commandeatt %}active{% endblock %}
{% block listecommande %}active{% endblock %}

{% block body %}
<form method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col-lg-6 col-ml-12">
			<div class="row">
				<div class="col-12 mt-5">
					{{form.errors}}
					{% if erreur == 1 %}
					<div class="alert alert-success" role="alert">
						<strong>Les modifications ont été effectués avec succès</strong>
					</div>
					{% endif %}
					<div class="card">
						<div class="card-body">
							<h4 class="header-title">informations d'article </h4>
							<div class="form-group django">
								<label for="example-text-input" class="col-form-label">Quantite</label>
								<input type="number" name="{{ form.Quantite.name }}" value="{{ form.Quantite.value }}" max="{{ quantite }}" min="1" required>
								<small class="form-text text-muted">{{ form.Quantite.errors }}</small>
								<div class="form-control-feedback">Il reste encore: {{ quantite }}</div>
								<label for="example-text-input" class="col-form-label">Prix</label>
								{{ form.Prix }}
								<small class="form-text text-muted">{{ form.Prix.errors }}</small>
								<button type="submit" class="btn btn-flat btn-dark mt-4 pr-4 pl-4">Enregistrer</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}