{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Devis{% endblock %}
{% block commandeatt %}active{% endblock %}
{% block listecommande %}active{% endblock %}

{% block body %}
<div class="row">
	<div class="col-12 mt-5">
		<div class="card">
			<div class="card-body">
				<div class="invoice-head">
					<div class="row">
						<div class="iv-left col-6">
							<span>Liste des devis en attente</span>
						</div>
					</div>
				</div>
				<div class="single-table">
					<div class="table-responsive">
						<table class="table table-hover progress-table text-center">
							<thead class="text-uppercase">
								<tr>
									<th scope="col">Nom</th>
									<th scope="col">Date</th>
									<th scope="col">Client</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for commande in commandes %}
									<tr>
										<th scope="row">{{ commande.ID_Commande }}</th>
										<td>{{ commande.Date_Commande }}</td>
										<td>{{ commande.ID_Client }}</td>
										<td>
											<ul class="d-flex justify-content-center">
												<li class="mr-3"><a href="{% url 'validercommande' commande.ID_Commande %}" class="text-success"><i class="ti-check-box"></i></a></li>
												<li  class="mr-3"><a href="{% url 'detailcommande' commande.ID_Commande %}" class="text-primary"><i class="ti-shopping-cart"></i></a></li>
												<li><a href="{% url 'delcommandeatt' commande.ID_Commande %}" class="text-danger"><i class="ti-trash"></i></a></li>
											</ul>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}