{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Accueil{% endblock %}
{% block accueil %}active{% endblock %}

{% block body %}
<div class="row">
	<!-- seo fact area start -->
                    <div class="col-lg-12">
                        <div class="row">
                            {% if request.session.Type == 1 %}
                            <div class="col-md-4 mt-5 mb-3">
                            	<a href="{% url 'administrateur' %}" style="font-family: sans-serif;">
                                <div class="card">
                                    <div class="seo-fact sbg1">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon"><i class="ti-user"></i>Gestion des administrateurs</div>
                                        </div>
                                        <canvas height="50"></canvas>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-md-4 mt-md-5 mb-3">
                            	<a href="{% url 'depot' %}" style="font-family: sans-serif;">
                                <div class="card">
                                    <div class="seo-fact sbg2">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon"><i class="ti-map-alt"></i>Gestion des depôts</div>
                                            
                                        </div>
                                        <canvas height="50"></canvas>
                                    </div>
                                </div>
                                </a>
                            </div>
                            {% endif %}
                            <div class="col-md-4 mt-md-5 mb-3">
                            	<a href="{% url 'fournisseur' %}" style="font-family: sans-serif;">
                                <div class="card">
                                    <div class="seo-fact sbg3">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon"><i class="ti-import"></i>Gestion des fournisseurs</div>
                                            
                                        </div>
                                        <canvas height="50"></canvas>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-md-4 mt-md-5 mb-3">
                            	<a href="{% url 'client' %}" style="font-family: sans-serif;">
                                <div class="card">
                                    <div class="seo-fact sbg2">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon"><i class="ti-export"></i>Gestion des clients</div>
                                            
                                        </div>
                                        <canvas height="50"></canvas>
                                    </div>
                                </div>
                                </a>
                            </div>
                            
                            {% if request.session.Type == 1 %}
                            <div class="col-md-4 mt-md-5 mb-3">
                            	<a href="{% url 'article' %}" style="font-family: sans-serif;">
                                <div class="card">
                                    <div class="seo-fact sbg1">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon"><i class="ti-view-grid"></i>Gestion des articles</div>
                                            
                                        </div>
                                        <canvas height="50"></canvas>
                                    </div>
                                </div>
                                </a>
                            </div>
                            {% endif %}

                            {% if request.session.Type == 0 %}
                            <div class="col-md-4 mt-md-5 mb-3">
                                <a href="{% url 'article' %}" style="font-family: sans-serif;">
                                <div class="card">
                                    <div class="seo-fact sbg3">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon"><i class="ti-view-grid"></i>Gestion des articles</div>
                                            
                                        </div>
                                        <canvas height="50"></canvas>
                                    </div>
                                </div>
                                </a>
                            </div>
                            {% endif %}

                            <div class="col-md-4 mt-md-5 mb-3">
                            	<a href="{% url 'commande' %}" style="font-family: sans-serif;">
                                <div class="card">
                                    <div class="seo-fact sbg2">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon"><i class="ti-shopping-cart"></i> Devis</div>
                                            
                                        </div>
                                        <canvas height="50"></canvas>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-md-4 mt-md-5 mb-3">
                            	<a href="{% url 'devis' %}" style="font-family: sans-serif;">
                                <div class="card">
                                    <div class="seo-fact sbg3">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon"><i class="ti-shopping-cart"></i> Commandes</div>
                                            
                                        </div>
                                        <canvas height="50"></canvas>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-md-4 mt-md-5 mb-4">
                            	<a href="{% url 'stock' %}" style="font-family: sans-serif;">
                                <div class="card">
                                    <div class="seo-fact sbg2">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon"><i class="ti-view-grid"></i> Stock du dépôt</div>
                                            
                                        </div>
                                        <canvas height="50"></canvas>
                                    </div>
                                </div>
                                </a>
                            </div>

                            {% if request.session.Type == 1 %}
                            <div class="col-md-4 mt-md-5 mb-4">
                            	<a href="{% url 'produit' %}" style="font-family: sans-serif;">
                                <div class="card">
                                    <div class="seo-fact sbg1">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon"><i class="ti-eye"></i> Traçabilité d'un produit</div>
                                        </div>
                                        <canvas height="50"></canvas>
                                    </div>
                                </div>
                                </a>
                            </div>
                            {% endif %}

                            {% if request.session.Type == 0 %}
                            <div class="col-md-4 mt-md-5 mb-4">
                                <a href="{% url 'produit' %}" style="font-family: sans-serif;">
                                <div class="card">
                                    <div class="seo-fact sbg3">
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                            <div class="seofct-icon"><i class="ti-eye"></i> Traçabilité d'un produit</div>
                                        </div>
                                        <canvas height="50"></canvas>
                                    </div>
                                </div>
                                </a>
                            </div>
                            {% endif %}
                            
                        </div>
                    </div>
                    <!-- seo fact area end -->
	
</div>

{% endblock %}